<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Recuperação de Senha</title>
  </head>
  <body
    style='background-color: white; font-family: Verdana, sans-serif; padding: 20px; margin: 0;'
  >
    <div style='text-align: center; max-width: 600px; margin: auto;'>
      <div
        style='width: 100%; height: 200px; overflow: hidden; margin-bottom: 20px;'
      >
        <img
          src='https://res.cloudinary.com/dpv8s8uvd/image/upload/v1721152783/vjsn64ssbzyfzgfzxank.jpg'
          style='object-fit: cover; width: 100%; height: 100%;'
        />
      </div>
      <p style='font-size: 20px; color: black;'>Olá {{name}},</p>
      <p style='font-size: 20px; color: black;'>
        Você solicitou a redefinição de sua senha na sua conta da Story maker?.
        Clique no link abaixo para redefini-la:
      </p>
      <a
        href='{{resetUrl}}'
        style='
          display: inline-block;
          color: white;
          background-color: purple;
          text-decoration: none;
          border-radius: 10px;
          padding: 10px 20px;
          font-size: 16px;
          margin: 20px 0;
        '
      >Redefinir senha</a>
      <p style='font-size: 20px; color: black;'>
        Se você não solicitou essa mudança, por favor ignore este e-mail.
      </p>
    </div>
  </body>
</html>